.container {
    font-family: 'Garamond', serif;
  }
  
  .card-title {
    font-size: 30px;
  }
  
  .form-group label {
    font-size: 20px;
    padding-left: 8px;
  }
  
  .btn {
    font-size: 18px;
  }
  